/setti12/170.Matopeli/nbproject/private/
/Matopeli/build/
/Kertausta/nbproject/private/
/Kertausta/build/
/Kertausta/dist/
/Morkopeli/nbproject/private/
/Morkopeli/dist/
/Morkopeli/build/
/Matopeli/dist/
/MorkoApplet/nbproject/private/
/MorkoApplet/build/
/Morkopelix/build/